@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,400&display=swap');

#title{
    background-color:#ff4c68;
    color: #fff;
}
h1{
    font-family: "Montserrat";
    font-weight:900; 
    font-size:3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}

body{
    font-family: "Montserrat";   
    font-weight: 400; 
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-weight:light;
}

h2{
    font-family:"Montserrat";
    font-weight:bold; 
    font-size:3rem;
    line-height:1.5;
}

h3{
    font-family: "Montserrat";
    font-weight:700;
}
p{
    color:#8f8f8f;
}

/* Features-Section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align:center;
    padding:4.5%;
}

.icon{
    color:#ef8172;
    margin-bottom:1rem;
}

.icon:hover{
    color:#ff4c68;
}

/* Testimonial-section */
#testimonials{
    background-color:#ef8172;
    text-align: center;
    
}
.testimonial-text{
    color:#fff;
}
.testimonial-image{
    border-radius:100%;
    width:10%;
    margin:20px;
}
.carousel-item{
    padding:7% 15%;
}
#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom:3px;
}
.padding-logo{
    width:15%;
    margin:20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding:100px;
    text-align:center;
}

.pricing-column{
    padding: 3% 2%;
}


/* Download Button */
.dwnld-btn{

    margin:5% 3% 5% 0;
}

/* Title Image */

#iphone-img{
    width:60%;
    transform:rotate(25deg);
}
